@import "_variables.scss";

* {
    margin: 0%;
    padding: 0%;
}

/* Generales */

h1{
  @extend h3 
  }
  
  h2 {
  font-family: $tipoTitulosGenerales;
  font-weight: lighter;
  text-align: center;
  font-size: 30px;
  color: black;
}

h3 {
  font-family: $tipoTitulosGenerales;
  font-weight: normal;
  text-align: center;
  font-size: 25px;
  color: black;
}

h4 {
  font-family: $tipoTitulosGenerales;
  font-weight: normal;
  text-align: left;
  font-size: 25px;
  color: black;
}

h5 {
  font-family: $tipoTitulosGenerales;
  font-weight: lighter;
  text-align: left;
  font-size: 15px;
  color: black;
}

h6 {
  font-family: $tipoTitulosGenerales;
  font-weight: normal;
  text-align: right;
  font-size: 30px;
  color: black;
}

h7 {
  font-family: $tipoTitulosGenerales;
  font-weight: bold;
  font-size: 11px;
  color: #656b6f;
  text-align: center;
}

h8 {
  font-family: $tipoTitulosGenerales;
  font-weight: normal;
  text-align: left;
  font-size: 30px;
  color: white;
}

h9 {
  font-family: $tipoTitulosGenerales;
  font-weight: lighter;
  text-align: left;
  font-size: 30px;
  color: white;
}

p {
  color: $colorParrafos;
  font-family: $tipoParrafos;
  font-style: bold;
  font: weight 400px;
  line-height: 30px;
  text-align: center;
}


.parrafoDos {
  color: $colorParrafos;
  text-align: left;
  padding-top: 1%;
  font-size: $tamanioParrafos;
}

.parrafoTres {
  color: $colorParrafos;
  text-align: right;
  padding-top: 1%;
  font-size: $tamanioParrafos;
}

/* BOTONES index*/

    @mixin boton ($colorTextoBoton, $colorFondoBoton, $tamanioTextoBoton, 
          $paddingLeftBoton, $paddingRightBoton, $paddingTopBoton, $paddingButtomBoton,  ) {
      padding-left: $paddingLeftBoton;
      padding-right: $paddingRightBoton;
      font-size: $tamanioTextoBoton;
      color: $colorTextoBoton;
      padding-top: $paddingTopBoton;
      padding-bottom: $paddingButtomBoton;
      background-color: $colorFondoBoton;
      font-weight: normal;
      font-family: "Montserrat", sans-serif;
    }

      .botonContacto {
      @include boton (White, #0a1a36, 13px, 44px, 44px, 10px, 6%, ); 
      border: solid;
      }

      .botonvermas {
        @include boton (black, white, 13px, 44px, 44px, 10px, 10px, );
        border: 1px solid;
        border-color: #b3b3b3;
      }

      .botonTrabajos {
        display:flex;
        justify-content:center;
        width:100%;
        height: 50px;
        margin-top: 2%;
      }
/* navegador general */
nav {
  width: 100%;
}
.headerDiv {
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 2px 2px 10px;
  color: rgb(102, 102, 102);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;

   .logoMenu {
    width: 30%;
    display: flex;
    justify-content: center;
    }

    .menuNavegacion {
     width: 50%;

        .redesMenu {
        display: flex;
        justify-content: space-between;
        width: 40px;
        height: 30px;
        
        img {
            width: 100%;
            }
      } 
    } 

    li {
    color: black;
    list-style-type: none;
    font-family: $tipoTitulosGenerales;
    font-weight: 600;
    font-size: 15px;
    }
}

/* carrusel index*/

.sectionPadre {
  width: 100%;
  padding-bottom: 3%;

  .sections{
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  .sectionUno {
    @extend .sections;
    padding-top: 20%;
    padding-bottom: 15%;
    flex-direction: column;
  }

  .sectionDos {
    @extend .sections;
    img {
      max-width: 100%;
    }
  }  
}

/* parrafos */

.parrafoUno {
  color: $colorParrafos;
  text-align: center;
  padding-top: 3%;
  font-size: $tamanioParrafos;
}

@media (min-width: 320px) and (max-width: 767px){
  .parrafoUno , #carouselExampleControlsNoTouching {
  display: none !important;
}
}

/* barra info index*/

.iconosBarra {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    " Uno Dos Tres Cuatro";
  background-color: #f3f2f2;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 3%;
  justify-content:center;
  justify-items:center;
}

@mixin iconos ($anchoIconos, $altoIconos, $gridIconos,) {
      width: $anchoIconos;
      height: $altoIconos;
      grid-area: $gridIconos;
    }

.iconosUno {
  @include iconos (45%, 170%, Uno)
  
}

.iconosDos {
  @include iconos (45%, 170%, Dos)
  
}

.iconosTres {
  @include iconos (45%, 170%, Tres)
}

.iconosCuatro {
  @include iconos (45%, 170%, Cuatro)
}

.imagenesIconos {
  width: 50px;
  padding-bottom: 20px;
    img {
    width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 767px){
  .iconosBarra {
  display: grid;
  grid-template-columns: 900px;
  grid-template-rows: 4fr;
  grid-template-areas:
    " Uno" 
    "Dos "
    "Tres " 
    "Cuatro";
  background-color: white;
  width: 400px;
  padding-top: 3%;
  padding-left:20%;
  padding-bottom: 4%;
  margin-top: 3%;
  row-gap: 40px;
  border-bottom: 1px solid #f3f2f2;
  justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .iconosBarra {
  background-color: #f3f2f2;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-areas:
    " Uno Dos "
      "Tres Cuatro";
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 3%;
  justify-content:center;
  justify-items:center;
  row-gap: 40px;
  }
}

@media (min-width: 1200px){
  .iconosBarra {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    " Uno Dos Tres Cuatro";
  background-color: #f3f2f2;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 3%;
  justify-content:center;
  justify-items:center;
  }
}

/* Muestra de trabajos index*/

.trabajos {
  margin-top: 4%;
  margin-bottom: 4%;
}

#imagesTrabajos {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-areas:
    " uno dos tres"
    "cuatro cinco seis";
  column-gap: 10px;
  row-gap: 10px;
  margin: 20px;
}
   @mixin trabajos ($anchoTrabajo, $altoTrabajo, $gridTrabajo, ) {
      width: $anchoTrabajo;
      height: $altoTrabajo;
      grid-area: $gridTrabajo;
    }

.trabajoUno {
@include trabajos (100%, 100%, uno)
}
.trabajoDos {
@include trabajos (100%, 100%, dos)
}
.trabajoTres {
@include trabajos (100%, 100%, tres)
}
.trabajoCuatro {
@include trabajos (100%, 100%, cuatro)
}
.trabajoCinco {
@include trabajos (100%, 100%, cinco)
}
.trabajoSeis {
@include trabajos (100%, 100%, seis)
}

.image {
  width: 100%;
  height: 100%;
}

@media (min-width: 320px) and (max-width: 767px){
  #imagesTrabajos {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-template-areas:
      " uno  dos "
      " tres cuatro"
      " cinco seis";
    column-gap: 10px;
    row-gap: 10px;
    margin: 20px;
    }
    .trabajos {
    margin-top: 5%;
    margin-bottom: 4%;
}
}

@media (min-width: 768px) and (max-width: 991px){
  #imagesTrabajos {
      display: grid;
      grid-template-columns: repeat(2, 3fr);
      grid-template-areas:
        " uno  dos "
        " tres cuatro"
        " cinco seis";
      column-gap: 10px;
      row-gap: 10px;
      margin: 20px;
      }
}

@media only screen and (min-width: 991px){
  #imagesTrabajos {
  grid-template-columns: repeat(3, 2fr);
  grid-template-areas:
    " uno dos tres"
    "cuatro cinco seis";
  column-gap: 10px;
  row-gap: 10px;
  margin: 20px;
    }
  
    @mixin hovers ($justifyhover, $alinghover, $positionhover, $overhovers, $cursorhovers, $transformhovers){
    justify-content:$justifyhover;
    align-items:$alinghover;
    position:$positionhover;
    overflow:$overhovers;
    cursor: $cursorhovers;
    transform: $transformhovers; 
  }
    @mixin hoversN ($positionN, $topsN, $altoN, $anchoN, $colorN, $transaccionN, $opacidadN, $visibilidadN, $alineacionN, ){
        position:$positionN,;
        top:$topsN;
        width:$altoN,;
        height:$anchoN;
        background: $colorN;
        transition: $transaccionN;
        opacity:$opacidadN;
        visibility:$visibilidadN;
        text-align: $alineacionN;  
  }
  @mixin hoversT ($colorT, $margenT, $transT, $margT, $alinT, $tamaT, $espacioT, $tipoFT, ){
        color:$colorT;
        margin-bottom:$margenT;
        transition: $transT;
        margin-top:$margT;
        text-align:$alinT;
        font-size:$tamaT;
        padding-top:$espacioT; 
        font-weight:$tipoFT;
  }
  .trabajoUno{
    @include hovers (center, center, relative, hidden, pointer, scale (1.2))
      .capaUno{
        @include hoversN (absolute, 0, 100%, 100%, rgba(10, 26, 54, 0.8), all 500ms ease-out, 0, hidden, center )  
      }
      #UnoT{
        @include hoversT (white, 120px, all 500ms ease-out, 300px, center, 21px, 17%, bold)
      }
      #UnoD{
        color: white;
        font-size:15px;
        width:100%;
        margin:auto;
        text-align:center;
      }
    }
    .trabajoUno:hover .capaUno{
      display: block;
      opacity: 1;  
      visibility:visible;
      justify-content:center;
      #UnoT{
       margin-top:70px;
       margin-bottom: 15px;
     }
    }
    .trabajoDos{
      @include hovers (center, center, relative, hidden, pointer, scale (1.2))
      .capaDos{
      @include hoversN (absolute, 0, 100%, 100%, rgba(10, 26, 54, 0.8), all 500ms ease-out, 0, hidden, center ) 
      }
      #DosT{
        @include hoversT (white, 120px, all 500ms ease-out, 300px, center, 21px, 17%, bold)
      }
      #DosD{
        @extend #UnoD ;
        color: white;
      }
    }
    .trabajoDos:hover .capaDos{
      display: block;
      opacity: 1;  
      visibility:visible;
      justify-content:center;
      #DosT{
       margin-top:70px;
       margin-bottom: 15px;
     }
    }
    .trabajoTres{
      @include hovers (center, center, relative, hidden, pointer, scale (1.2))
      .capaTres{
      @include hoversN (absolute, 0, 100%, 100%, rgba(10, 26, 54, 0.8), all 500ms ease-out, 0, hidden, center ) 
      }
      #TresT{
        @include hoversT (white, 120px, all 500ms ease-out, 300px, center, 21px, 17%, bold)
      }
      #TresD{
        @extend #UnoD ;
        color: white;
      }
    }
    .trabajoTres:hover .capaTres{
      display: block;
      opacity: 1;  
      visibility:visible;
      justify-content:center;
      #TresT{
       margin-top:70px;
       margin-bottom: 15px;
     }
    }
    .trabajoCuatro{
      @include hovers (center, center, relative, hidden, pointer, scale (1.2))
      .capaCuatro{
      @include hoversN (absolute, 0, 100%, 100%, rgba(10, 26, 54, 0.8), all 500ms ease-out, 0, hidden, center ) 
      }
      #CuatroT{
        @include hoversT (white, 120px, all 500ms ease-out, 300px, center, 21px, 17%, bold)
      }
      #CuatroD{
        @extend #UnoD ;
        color: white;
      }
    }
    .trabajoCuatro:hover .capaCuatro{
      display: block;
      opacity: 1;  
      visibility:visible;
      justify-content:center;
      #CuatroT{
       margin-top:70px;
       margin-bottom: 15px;
     }
    }
    .trabajoCinco{
      @include hovers (center, center, relative, hidden, pointer, scale (1.2))
      .capaCinco{
      @include hoversN (absolute, 0, 100%, 100%, rgba(10, 26, 54, 0.8), all 500ms ease-out, 0, hidden, center ) 
      }
      #CincoT{
        @include hoversT (white, 120px, all 500ms ease-out, 300px, center, 21px, 17%, bold)
      }
      #CincoD{
        @extend #UnoD ;
        color: white;
      }
    }
    .trabajoCinco:hover .capaCinco{
      display: block;
      opacity: 1;  
      visibility:visible;
      justify-content:center;
      #CincoT{
       margin-top:70px;
       margin-bottom: 15px;
     }
    }
    .trabajoSeis{
      @include hovers (center, center, relative, hidden, pointer, scale (1.2))
      .capaSeis{
      @include hoversN (absolute, 0, 100%, 100%, rgba(10, 26, 54, 0.8), all 500ms ease-out, 0, hidden, center ) 
      }
      #SeisT{
        @include hoversT (white, 120px, all 500ms ease-out, 300px, center, 21px, 17%, bold)
      }
      #SeisD{
        @extend #UnoD ;
        color: white;
      }
    }
    .trabajoSeis:hover .capaSeis{
      display: block;
      opacity: 1;  
      visibility:visible;
      justify-content:center;
      #SeisT{
       margin-top:70px;
       margin-bottom: 15px;
     }
    }
}

/* Servicios ofrecidos index*/

.padre {
  margin-top: 2%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 380px 380px;
  grid-template-areas:
    "area1 area2"
    "area3 area4";
}

/* web index */

.disWeb {
  display: grid;
  grid-area: area1;
  background-color: #eeeeee;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.disWebDos {
  width: 300px;
  padding-left:5%;
}

.devicess {
  background-color: #eeeeee;
  grid-area: area2;
  width: 100%;
    img {
    max-width: 100%;
    max-height: 100%;
    }
}

/* logo index */

.logo {
  display: grid;
  grid-area: area4;
  width: 100%;
  height: 380px;
  justify-content: center;
  align-items: center;
}

.sectionLogoUno {
  @extend .disWebDos;
}

.sectionLogoDos {
  grid-area: area3;
  width: 100%;
    img {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (min-width: 320px) and (max-width: 767px){
  .padre {
    display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px){
  .padre {
  margin-top: 2%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 380px 380px;
  grid-template-areas:
    "area1 area2"
    "area3 area4";
  }
}

@media only screen and (min-width: 991px){
  .padre {
  margin-top: 2%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 380px 380px;
  grid-template-areas:
    "area1 area2"
    "area3 area4";
  }
}

/* Anuncia en redes index */

#redes {
  background-color: #0a1a36;
  width: 100%;
  padding-top: 4%;
  padding-bottom: 4%;
}

#redesUno , #redesDos {
  color: white;
}

#redesTres {
  padding-top: 2%;
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  line-height: 20px;
}
#redesCuatro {
  padding-top: 2%;
  color: white;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 767px){
  #redes {
  background-color: #0a1a36;
  width: 100%;
  margin-top: 2%;
  padding-top: 4%;
  padding-top:7%;
  padding-bottom: 6%;
}
  #redesUno{
    font-size:20px;
  }
  #redesDos{
    font-size:25px;
  }
  #redesTres , #redesCuatro{
    font-size:13px;
    line-height:18px;
  }
}

/* img deco index */

.imgDeco {
  background-image: url("../images/deco.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 20%;
  padding-bottom: 4%;
}

/* Footer */

footer {
  width: 100%;
  background-color: #3b3d40;
  padding-top: 3%;
  padding-bottom: 3%;
  display: flex;
  flex-direction: row;
  align-content:center;
  align-items: baseline;
  justify-content:space-between;
}

.logoBlanco {
  display: flex;
  padding-left: 10%;
}

#copyright {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right:10%;
}


@media only screen and (max-width: 991px){
  footer {
    width: 100%;
    background-color: #3b3d40;
    padding-top: 5%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items:center;
    align-content:center;
    justify-content:center;
  }
  .logoBlanco {
    display: flex;
    justify-content:center;
    padding-left: 0%;
  }
  
  #copyright {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top:3%;
    padding-right:0%;
    justify-content:center;
    font-size: 12px;
  }
}

/* PESTAÑA CONTACTO */

#contacto {
  width: 100%;
  padding-top: 5%;
  padding-right: 10%;
  padding-left: 10%;
  margin-bottom: 3%;
}

#contactoTres {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: white;
  background-color: #0a1a36;
  border: solid;
}

.container h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  text-align: left;
  font-size: 25px;
  color: black;
}

#formu {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #0a1a36;
}

/* PESTAÑA NOSOTROS */

.nosotrosUno {
  width: 100%;
}

.nosotrosDos {
  padding-top: 3%;
}

.somosNosotros {
  padding-left: 10%;
  padding-right: 10%;
}

.integrantes {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
  padding-top: 2%;
}

/* PESTAÑA SERVICIOS */

.portada {
  width:100%;
  padding-top: 4%;
  padding-right:6%;
  padding-left:6%;
}

.portadas {
  align-items:center;
  align-content:center;
  text-align: center;
}

.portadasDos {
  @extend .portadas;
  font-size:35px;
}

.serviciostodos{
  width:100%;
  margin-top:3%;
  padding-bottom:3%;
  padding-top:42px;
  padding-left:6%;
  background-color:#0a1a36;
}

/* CLIENTES */

#clientes{
  background-color: #eeeeee;
  padding-bottom: 3%;
  padding-top:3%;

  h1{
    color:#0a1a36;
    padding-bottom:2%;
  }
}

#clientesOt{
  @extend #clientes ;
  background-color: white;
} 
.slick-slide {
  margin: 0px 10px;
  img {
  width: 100%;
}
}

.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
 img
{
  display: block;
}
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* ERROR */

.HomeE{
padding-top: 3%;
}

@import url(https://fonts.googleapis.com/css?family=Fascinate);

*{ box-sizing: border-box;}

.errores {
  width: 100%; 
  min-height:100%;
  font-family: 'Fascinate', cursive;
  background: #eeeeee; 
  font-size:14px;
  display:flex;
  justify-content:center;
  flex-direction:row;
  overflow-y:auto;
  overflow-x:hidden;
  padding-bottom:4rem;
   & span{
    margin:-2rem 0;
    color:#0a1a36;
    align-self:center;
    font-size:34rem;
    letter-spacing:-1rem;
    transition:font-size .3s ease;
    text-shadow:
      0px 0px 0  #FFAC78,
      -1px 1px 0 #FFAC78,
      -2px 2px 0 #FFAC78,
      -3px 3px 0 #FFAC78,
      -4px 4px 0 #FFAC78,
      -5px 5px 0 #FFAC78,
      -6px 6px 0 #FFAC78,
      -7px 7px 0 #FFE2A8,
      -8px 8px 0 #FFE2A8,
      -9px 9px 0 #FFE2A8,
      -10px 10px 0 #FFE2A8,
      -11px 11px 0 #FFE2A8,
      -12px 12px 0 #FFE2A8,
      -13px 13px 0 #FFE2A8,
      -14px 14px 0 #FFE2A8,
      -15px 15px 0 #FFE2A8,
      -16px 16px 0 #FFE2A8, 
      -17px 17px 0 hsla(0,0%,0%,.19),
      0 6px 1px hsla(0,0%,0%,.1),
      0 0 5px hsla(0,0%,0%,.2),
      0 1px 3px hsla(0,0%,0%,.25),
      0 3px 5px hsla(0,0%,0%,.28),
      0 5px 10px hsla(0,0%,0%,.35),
      0 10px 15px hsla(0,0%,0%,.4),
      0 20px 20px hsla(0,0%,0%,.45);
    &.one{
      transform: rotate(-26deg);
    }
    &.two{
      color:#3a5583;
      font-size:36rem;
     }
     &.mid{
       color:#3a5583;
       font-size:6rem;
       margin-left:-7rem;
       margin-top:16rem;
       z-index:3;
       letter-spacing:-6px;
     }
    &.three{
      transform:rotate(26deg);
      margin-left:-5rem;
      margin-top:-8rem;
    }
  }
}
@media (min-width:40.6875em) and (max-width:51.875em){
  .errores{
    & span{
      font-size:28rem;
      &.two, &.three{
        font-size:30rem;
      }
    }
  }
}
@media (min-width:30.0625em) and (max-width:40.625em){
  .errores{
    span{
      font-size:22rem;
      &.two, &.three{
        font-size:24rem;
      }
    }
  }
}
@media (max-width:30.0em){
  .errores{
    span{
      align-self:center;
      font-size:18rem;
      &.two{
        font-size:20rem;
      }
      &.mid{
        margin-top:11rem;
        margin-left:-5rem
      }
      &.three{
        margin-left:-7rem;
      }
    }
  }
}